.auth {
    margin: 3rem auto;
    width: 95%;
    max-width: 30rem;
    border-radius: 6px;
    background-color: #106679;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: center;
    color: white;
    margin-top: 10%;
  }
  .auth button:disabled,
  .auth button:disabled:hover,
  .auth button:disabled:active {
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}
  .auth h1 {
    text-align: center;
    color: white;
  }
  
  .control {
    margin-bottom: 0.5rem;
  }
  
  .control label {
    display: block;
    color: white;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .control input {
    font: inherit;
    background-color: #61c0c4;
    color: #38015c;
    border-radius: 4px;
    border: 1px solid white;
    width: 100%;
    text-align: left;
    padding: 0.25rem;
  }
  
  .actions {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .actions button {
    cursor: pointer;
    font: inherit;
    color: white;
    background-color: #41b3d5;
    border: 1px solid #41b3d5;
    border-radius: 4px;
    padding: 0.5rem 2.5rem;
  }
  
  .actions button:hover {
    background-color: #0e485a;
    border-color: #0e485a;
  }
  
  .actions .toggle {
    margin-top: 1rem;
    background-color: transparent;
    color: #41b3d5;
    border: none;
    padding: 0.15rem 1.5rem;
  }
  
  .actions .toggle:hover {
    background-color: transparent;
    color: #0e485a;
  }

.control .invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.control .invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.errorText {
  color: #ee4d4d;
  font-weight: 700;
  font-size: large;
}
  